<body>
<header class="headerPrincipal">
    <div class="container">
        <h1 class="headerPrincipal-titulo">
            <a href="#"><img src="../../../assets/images/logo.svg" alt="Descripción de la imagen"></a>
        </h1>

        <nav class="headerPrincipal-nav">
            <a class="headerPrincipal-nav-link" href="#">Home</a>
            <a class="headerPrincipal-nav-link" href="#">New</a>
            <a class="headerPrincipal-nav-link" href="#">Popular</a>
            <a class="headerPrincipal-nav-link" href="#">Treding</a>
            <a class="headerPrincipal-nav-link headerPrincipal-nav-link-app" href="">Categories</a>
        </nav>
    </div>

</header>
</body>
