<main class="contenidoPrincipal">
    <div class="container">
        
       
       <section>
        <a href="#"><img src="../../../assets/images/image-web-3-desktop.jpg" width="95%" alt="Descripción de la imagen"></a>
         
        </section>
        <section class="section-informativa">
           <div class="letra">
            <article><h2>The bright future of web 3.0?</h2></article>
           </div>
    
            <article class="read-more"><p> We dive the next evolution
                that claims to put the power of the platforms back into the hands 
                of the people.But is it ready fulfilind its promise </p> 
                <button class="ultimo-button">READ MORE</button>
                </article>
    
            
        </section>
    </div>

    <section class="videoSobre">
        <div class="container">
           
            
            <div class="videoSobre-sobre">
                <h2 class="videoSobre-sobre-title" style="color:rgb(224, 224, 15)">New</h2>
                    <p class="uno">Hydrogen vs Electric Cars</p>
                    <p class="dos">Will hydrogen-fueled cars ever catch up to EVs?</p>
                   
                    <hr>

                <ul class="videoSobre-sobre-list">
                    <li class="videoSobre-sobre-item">Estudia donde quiera</li>
                    <li class="videoSobre-sobre-item">Nuevos cursos todos los meses</li>
                    <li class="videoSobre-sobre-item">Cursos compatibles con el mercado</li>
                </ul>
               
            </div>
        </div>
    </section>

</main>




  <footer>
    <div class="container-footer">
        <img src="../../../assets/images/image-retro-pcs.jpg" width="10%" alt="Descripción de la imagen">
        <p>01 
           Reviving retro PCs <br>
           what happens when old pcs 
        </p>
   

      </div>
      
  </footer>
  